name: Flutter Desktop CI
#

on:
  push:
    tags:
      - "*"

jobs:
  #  build-and-release-linux:
  #    runs-on: ubuntu-latest
  #
  #    permissions:
  #      contents: write
  #
  #    steps:
  #      - uses: actions/checkout@v2
  #
  #      - uses: subosito/flutter-action@v1
  #        with:
  #          channel: 'stable'
  #          flutter-version: '3.24.2'
  #
  #      - name: Install Packager
  #        run: sudo apt install rpm patchelf
  #
  #      - name: Install dependencies
  #        run: sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev
  #
  #      - name: Install flutter_distributor
  #        run: dart pub global activate flutter_distributor
  #
  #      - name: Install project dependencies
  #        run: flutter pub get
  #
  #      - name: Generate intermediates
  #        run: flutter pub run build_runner build --delete-conflicting-outputs
  #
  #      - name: Enable linux build
  #        run: flutter config --enable-linux-desktop
  #
  #      - name: Create env file
  #        run: touch .env
  #
  #      - name: Build artifacts
  #        run: flutter build linux --release
  #
  #      - name: Archive Release
  #        uses: thedoctor0/zip-release@master
  #        with:
  #          type: 'zip'
  #          filename: TFM-${{github.ref_name}}-linux.zip
  #          directory: build/linux/x64/release/bundle
  #      - name: Linux Release
  #        uses: softprops/action-gh-release@v1
  #        if: startsWith(github.ref, 'refs/tags/v')
  #        env:
  #          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #        with:
  #          files: build/linux/x64/release/bundle/TFM-${{github.ref_name}}-linux.zip

  build-and-release-windows:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v2

      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
          flutter-version: "3.35.1"

      - name: Install project dependencies
        run: flutter pub get

      - name: Generate intermediates
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Enable windows build
        run: flutter config --enable-windows-desktop

      - name: "Create env file"
        run: touch .env

      - name: Build artifacts
        run: flutter build windows --release

      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          type: "zip"
          filename: TFM-${{github.ref_name}}-windows.zip
          directory: build/windows/x64/runner/release

      - name: Windows Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: build/windows/x64/runner/release/TFM-${{github.ref_name}}-windows.zip

  #build-and-release-macos:
  #  runs-on: macos-latest
#
#  steps:
#    - uses: actions/checkout@v2
#    - uses: subosito/flutter-action@v1
#      with:
#        channel: 'stable'
#        flutter-version: '3.24.2'
#    - name: Install project dependencies
#      run: flutter pub get
#    - name: Generate intermediates
#      run: flutter pub run build_runner build --delete-conflicting-outputs
#    - name: Enable macOS build
#      run: flutter config --enable-macos-desktop
#    - name: 'Create env file'
#      run: touch .env
#    - name: Build artifacts
#      run: flutter build macos --release
#    - name: Archive Release
#      uses: thedoctor0/zip-release@master
#      with:
#        type: 'zip'
#        filename: TFM-${{github.ref_name}}-macos.zip
#        directory: build/macos/Build/Products/Release
#    - name: macOS Release
#      uses: softprops/action-gh-release@v1
#      if: startsWith(github.ref, 'refs/tags/v')
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      with:
#        files: build/macos/Build/Products/Release/TFM-${{github.ref_name}}-macos.zip
